body {
	background-image: url(web-background.svg);
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;

	font-family: 'Asap Condensed'; font-size: 30px;
	text-align: center;
}

.Prompt {
	padding-top: 20px;
}

.FirstPath {
	padding-top: 20px;
}

.sleepPath {
	padding-top: 20px;
}

.SecondPath {
	padding-top: 20px;
}

.meditationPath {
	padding-top: 20px;
}

.gamePath {
	padding-top: 20px;
}

a {
	text-decoration: none;
	color: #38753A;
}

a:hover {
	color: #38753A;
	text-decoration: none;
}

a:visited {
	color: #38753A; 
}

button {
	font-family: 'Asap Condensed'; font-size: 25px;
	background-color: #51AE59;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: #38753A;
	border-radius: 5px;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}